* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans serif;
}

body {
    color: #ededed;
    background: #000000;
}

a
{
    color: inherit;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 70px;
    padding-right : 70px;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 0s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop 0s ease forwards;
    padding: 20px 25px;
}

.navbar a:hover {
    background-color: #000000;
}


.active{
    background-color: #000000;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 50px 10% 0;
    gap: 1rem;
    background-color: #000000;
}

.home-img img{
    /* padding-bottom: 20%; */
    max-width: 450px;
    border-radius: 360px;
    height: auto;
    width: 100%;
    margin: 100px 100px;
    box-shadow:  0 0 5px #004AAD,
    0 0 25px #004AAD, 0 0 50px #004AAD,
    0 0 100px #004AAD, 0 0 200px #004AAD;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;

}

.home-content h3 span {
    color: #004AAD;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #004AAD;
    border-radius: 50%;
    font-size: 20px;
    color: #004AAD;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.home-sci a:hover {
    background: #004AAD;
    color: #081b29;
    box-shadow: 0 0 20px #004AAD;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #004AAD;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 30px #004AAD,
        0 0 30px #004AAD
}

.btn-box:hover {
    box-shadow: 0 0 5px #004AAD,
        0 0 25px #004AAD, 0 0 50px #004AAD,
        0 0 100px #004AAD, 0 0 200px #004AAD
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    /* padding-bottom: 20%; */
    max-width: 450px;
    height: auto;
    width: 100%;
    border-radius: 360px;
    margin: 150px 150px;
    box-shadow:  0 0 5px #004AAD,
    0 0 25px #004AAD, 0 0 50px #004AAD,
    0 0 100px #004AAD, 0 0 200px #004AAD;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: rgb(83, 102, 245);
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 4rem;
    margin-right: 30px;
}

section{
    display:flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}


#portfolio{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 0;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}


.sub-title span{
    color: #004AAD;
}

.container {
    padding:100px;
    align-items: center;
    
}

/* .portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
} */

.portfolio-list div{
    display:inline-block;
    /* justify-content:space-between; */
    background-color: transparent;
    position: relative;
    padding: 50px 100px;
    margin: 50px 0;
    font-size: 20px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #004AAD,
    1px 1px 40px #0053b8f7
}

.portfolio-list div p{
    margin-top: 50px;
    text-align: justify;
}
.portfolio-list div i img{
    max-width:250px;
    font-size: 200px;
}

.portfolio-list div h2{
    font-size: 50px;
    color: #85bcfff7;
    text-align: right;
}

.portfolio-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    text-align: center;
}

.read{
    display: inline-block;
    justify-content: space-between;
    padding: 12px 28px;
    background: #004AAD;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 30px #004AAD,
        0 0 30px #004AAD
}

.read:hover{
    box-shadow: 0 0 5px #004AAD,
    0 0 25px #004AAD, 0 0 50px #004AAD,
    0 0 100px #004AAD, 0 0 200px #004AAD
}

.portfolio-list div:hover{
    transform: translateY(-10px);
}

.exp-list div{
    justify-content:space-between;
    background-color: transparent;
    position: relative;
    padding: 50px 100px;
    margin: 50px 0;
    font-size: 20px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #004AAD,
    1px 1px 40px #0053b8f7
}

.exp-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.exp-list div p{
    text-align: center;
    margin-top: 70px;
    padding : 10px;
}
.exp-list div i img{
    max-width:400px;
    font-size: 200px;
}

.exp-list h2{
    font-size: 50px;
    color: #85bcfff7;
    text-align: right;
    margin-bottom: 50px;
}

.exp-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    text-align: center;
}


.read:hover{
    box-shadow: 0 0 5px #004AAD,
    0 0 25px #004AAD, 0 0 50px #004AAD,
    0 0 100px #004AAD, 0 0 200px #004AAD
}

.exp-list div:hover{
    transform: translateY(-10px);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


